.cadeira{
	-fx-text-fill: #f7723a;
	-fx-font-size: 30px;
	-fx-shape: "M2225 5109 c-629 -66 -1183 -454 -1458 -1022 -46 -94 -93 -221 -135
-361 -10 -36 -18 -40 -107 -60 -131 -30 -271 -119 -367 -234 -55 -66 -124
-212 -142 -304 -48 -237 24 -470 200 -645 l63 -62 3 -688 c4 -760 1 -720 70
-858 32 -63 130 -172 185 -206 l33 -21 0 -128 c0 -71 5 -153 11 -182 36 -171
175 -301 352 -330 166 -27 349 61 431 208 42 75 56 138 56 251 l0 103 1140 0
1140 0 0 -98 c0 -110 16 -185 55 -254 83 -149 270 -239 435 -210 172 31 301
149 346 317 8 30 14 104 14 186 l0 136 38 25 c98 65 185 186 228 318 17 50 18
113 22 747 l3 692 30 22 c49 35 135 146 172 222 101 208 101 420 2 622 -104
212 -259 331 -515 392 -28 7 -36 15 -43 43 -198 758 -829 1301 -1606 1379
-119 13 -538 12 -656 0z m576 -279 c631 -46 1145 -431 1361 -1020 56 -151 56
-144 -5 -163 -129 -41 -280 -166 -356 -294 -22 -38 -52 -104 -68 -148 l-28
-80 -3 -422 -3 -423 -1140 0 -1139 0 0 375 c0 411 -6 469 -59 595 -77 180
-228 331 -394 395 -26 10 -49 21 -52 25 -6 10 53 178 95 268 240 511 731 850
1290 891 151 12 356 12 501 1z m-1927 -1453 c117 -54 192 -139 238 -267 22
-63 23 -78 26 -462 l3 -397 -55 -27 c-70 -34 -159 -126 -191 -196 -116 -256
43 -553 321 -598 79 -13 2609 -13 2688 0 278 45 437 342 321 598 -32 70 -121
162 -191 196 l-55 27 3 412 c3 403 4 413 26 469 69 171 224 278 402 278 167 0
306 -87 382 -239 29 -58 33 -76 36 -165 3 -85 0 -110 -18 -158 -32 -86 -78
-147 -156 -205 -113 -85 -104 -10 -104 -835 0 -691 -1 -719 -20 -770 -25 -67
-79 -124 -150 -157 l-55 -26 -1765 0 -1765 0 -55 26 c-71 33 -125 90 -150 157
-19 51 -20 79 -20 768 0 637 -2 720 -16 750 -9 19 -45 55 -83 83 -36 28 -78
65 -92 83 -181 231 -82 569 197 668 86 30 216 24 298 -13z m3024 -1401 c100
-52 109 -189 17 -246 -32 -20 -46 -20 -1355 -20 -1309 0 -1323 0 -1355 20 -44
27 -69 81 -62 137 5 47 24 75 72 104 29 18 82 19 1343 19 1108 0 1317 -2 1340
-14z m-2760 -1500 c-3 -101 -14 -127 -70 -169 -34 -25 -112 -25 -146 0 -55 41
-66 67 -70 168 l-4 95 147 0 147 0 -4 -94z m3130 -1 c-4 -101 -15 -127 -70
-168 -34 -25 -112 -25 -146 0 -56 42 -67 68 -70 169 l-4 94 147 0 147 0 -4
-95z";
	-fx-background-color: #ffffff;
}

.cadeira.selecionada{
	-fx-text-fill: white;
	-fx-background-color: #000000;
}